/* POZICE */

.maincontainer {
  display: flex;
  flex-direction: row;

}

.padding {
  padding-left: 15px;
  padding-right: 15px;
}

.about-position {
  width: 100%;
  height: 500px;
  text-align: center;
  padding: 20px;


}


.about-title {
  color: #f67f00;
  text-align: center;


}

.text {
  color: #ffffff;

}

.image-position {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: auto;
  border: 3px solid rgba(0, 0, 0, 0);

}

.image-position:hover {
  border: 3px solid #6f6bb3;
}
